@import url('https://fonts.googleapis.com/css?family=Roboto:700');

html, body {
  height: 100vh;
}

body {
  font-family:'Roboto';
  background-color: black;  

  height: auto;
  width: 1500px;
  padding: 0;
  margin: 0 auto;
}

.top-nav {
  height: 0px;
  font-size: 1.8rem;
  z-index: 55555;

  position: sticky;
  top: 0px;
}

.top-nav a, 
.bot-nav a {
    text-decoration: none;
    color: #212121;
    transition: all linear .15s;
}

.top-nav a:hover,
.bot-nav a:hover {
    color: white;
}

.top-nav ul {
    padding: 1rem 0 0 1rem;
    margin: 0;
    list-style: none;
}

.top-nav li,
.bot-nav li {
    padding: 0;
    line-height: 2rem;
}

.active a {
    color: white;
}

.bot-nav {
    display: flex; 
    justify-content: end;
    
    font-size: 1.8rem;
    z-index: 55555;

    position: sticky;
    bottom: 0px;
}

.bot-nav ul {
    padding: 0 1rem 1rem 0;
    margin: 0;
    list-style: none;
    text-align: right;
}

h1 {
  text-shadow:
  -1.5px -1.5px 0 #438496,  
  1.5px -1.5px 0 #438496,
  -1.5px 1.5px 0 #438496,
  1.5px 1.5px 0 #438496;
  color: black;
  letter-spacing: 1.5px;
  padding-left: 100px;
  z-index: 55555;
}

.landing {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height: 70px;
  overflow: hidden;
  margin: .9rem 0 0 1rem;
  z-index: 55555;
}

.animation > div > div {
  padding: 0.36rem 0.75rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
  color: black;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color: white;
}
.second div {
  background-color: white;
}
.third div {
  background-color: white;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  20% {margin-top: 0;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -5.62rem;}
  50% {margin-top: -11.64rem;}
  80% {margin-top: -11.64rem;}
  95% {margin-top: 0;}
  100% {margin-top: 0;}
}

.border-landing {
  height: 175px;
  width: 775px;

  position: absolute;
  border: 5px solid white;

  margin-right: 175px;
}

.portfolio {
  width: 1300px;
  height: 70rem;
}
