@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html, body {
  height: 100vh;
}

.test {
  color: black;
}

body {
  font-family:'Roboto';
  background-color: black; 

  margin: 0 auto;
  padding: 0;
  height: auto;
  width: 1500px;
}

.top-nav {
  height: 0px;
  font-size: 1.2rem;
  z-index: 55555;

  position: sticky;
  top: 0px;

  padding: 2rem 0 0 0rem;
  overflow: visible;
}

.top-nav img {
  height: 30px;
  filter: brightness(0) invert(1);
  margin-left: 13px;
  padding-bottom: 15px;
}

.top-nav a {
  text-decoration: none;
  color: #313131;
  transition: all linear .15s;
}

.inactive:hover:before {
  content:"";
  position:absolute;

  background:#f9f9f9;
  width: 8px;
  height: 8px;
  border-radius: 100%;

  margin: 6px 0 0 -15px;
}

.top-nav ul {
    width: 50px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 700;
}

.top-nav li {
    line-height: 1.4rem;
    margin-left: 15px;
}

.active a {
    color: #f9f9f9;
    line-height: 2rem;
}

h1 {
  text-shadow:
  -1.5px -1.5px 0 #f9f9f9,  
  1.5px -1.5px 0 #f9f9f9,
  -1.5px 1.5px 0 #f9f9f9,
  1.5px 1.5px 0 #f9f9f9;
  color: black;
  letter-spacing: 1.5px;
  padding-left: 100px;
  z-index: 55555;
  font-weight: 700;
}

.landing {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height: 70px;
  overflow: hidden;
  margin: .9rem 0 0 1rem;
  z-index: 55555;
}

.animation > div > div {
  padding: 0.36rem 0.75rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  border-radius: 10px;
  font-weight: 700;
  display:inline-block;
  color: black;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color: #f9f9f9;
}
.second div {
  background-color: #f9f9f9;
}
.third div {
  background-color: #f9f9f9;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  20% {margin-top: 0;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -5.62rem;}
  50% {margin-top: -11.64rem;}
  80% {margin-top: -11.64rem;}
  95% {margin-top: 0;}
  100% {margin-top: 0;}
}

.border-landing {
  height: 185px;
  width: 785px;

  position: absolute;

  margin-right: 175px;
  border-radius: 25px;
  background-image: url('images/color-palette.PNG');
  background-position-x: -160px;
  background-size: 1275px;

  animation: background-animation linear 20s infinite;
}

@keyframes background-animation {
  0% {background-position-x: -160px;}
  100% {background-position-x: 1115px;}
}

.border-landing-bg {
  height: 175px;
  width: 775px;
  margin: 5px 0 0 5px;
  border-radius: 20px;

  background-color: black;
}

.portfolio {
  height: 600px;
  display: flex;
  justify-content: center;
  padding: 0 100px 50px 100px;
}

.portfolio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1;
  transition: all linear .3s;
}

.icon {
  height: 150px;
  width: auto;
}

.portfolio-item:hover {
  flex: 3;
}

.portfolio1 {
  background-color: #ffe45e;
  border-radius: 30px 0 0 30px;
}

.portfolio1 .icon {
  filter: invert(95%) sepia(43%) saturate(2303%) hue-rotate(314deg) brightness(90%) contrast(109%);
}

.portfolio2 {
  background-color: #7fc8f8;
}

.portfolio2 .icon {
  filter: invert(70%) sepia(43%) saturate(485%) hue-rotate(171deg) brightness(79%) contrast(97%);
}

.portfolio3 {
  background-color: #ff6392;
}

.portfolio3 .icon {
  filter: invert(54%) sepia(84%) saturate(1885%) hue-rotate(307deg) brightness(81%) contrast(101%);
}

.portfolio4 {
  background-color: #5aa9e6;
  border-radius: 0 30px 30px 0;
}

.portfolio4 .icon {
  filter: invert(69%) sepia(26%) saturate(3271%) hue-rotate(179deg) brightness(75%) contrast(90%);
}

#about {
  height: 200px;
  margin: 0;
  padding: 160px 0 210px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #f9f9f9;
  width: 1000px;
  margin: 0;
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 3.2rem;
}

.animated-break {
  height: 5px;
  width: 75%;
  border-radius: 4px;

  margin: 0 auto;

  background-image: url('images/color-palette.PNG');
  background-position-x: -160px;
  background-size: 1275px;

  animation: background-animation linear 20s infinite;
}

#contact {
  height: 500px;
  width: 100%;
  margin: 0;
  padding: 200px 0 200px 0;

  display: flex;
  justify-content: center;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 30px; 
  resize: vertical;
}

input[type=submit] {
  width: 100%;
  height: 60px;
  background-color: #7fc8f8;
  color: #f9f9f9;

  padding: 5px 20px;
  margin-top: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5aa9e6;
}

.contact-left {
  width: 30%;
  padding-left: 100px;
}

.contact-right {
  width: 40%;
  padding-right: 100px;
}

label {
  display: block;
  color: #f9f9f9;
  padding: 0 0 10px 0;
  font-weight: 300;
}

.contact-left h2 {
  letter-spacing: .1rem;
}

.contact-left p {
  color: #f9f9f9;
  font-weight: 300;
  padding-top: 10px;
}